# Finding the important dataset

In [ ]:
import pandas as pd
import numpy as np
import xgboost as xgb
#importing sklearn library and its methods
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.model_selection import train_test_split, RandomizedSearchCV
# from sklearn.metrics import classification_report
# from sklearn.metrics import accuracy_score
# from scipy.stats import uniform, randint

In [2]:
df = pd.read_csv("dataset.csv")
# df.columns

In [3]:
# df.head()

# Separating the important features from the original dataset

In [3]:
imp_Cardtypefeatures = df.loc[:, [
                             'CardType',
                             'CreditLine',
                             'LastStatementBalanceAmount',
                             'LastStatementPurchaseAmount', 
                             'LastStatementPurchaseReturnAmount',
                             'LastStatementMinimumPaymentDueAmount',
                             'LastStatementPaymentTotalAmount',
                             'CardExternalStatus',
                             'CardInternalStatus',
                             'ActivityHistory1_12',
#                              'DelinquentDaysCount',
#                              'DelinquentTotalAmount',
#                              'LifetimeDelinquent1CycleCount',
#                              'LifetimeDelinquent2CycleCount',
#                              'LifetimeDelinquent3CycleCount',
#                              'LifetimeDelinquent4CycleCount',
#                              'LifetimeDelinquent5CycleCount',
#                              'LifetimeDelinquent6CycleCount',
#                              'LifetimeDelinquent7CycleCount',
                             'ChargeOffAmount',
                              'Target'
]
                            ]

In [4]:
imp_Cardtypefeatures

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ActivityHistory1_12,ChargeOffAmount,Target
0,VISA PLATINUM,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,IIIIIIIIIIII,0.0,0
1,VISA PLATINUM,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,0.0,0
2,VISA PLATINUM,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,IIIIIIIIIIII,0.0,0
3,VISA PLATINUM,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,0.0,0
4,VISA PLATINUM,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,IIIIIIIIIIII,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,0.0,0
1236969,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,0.0,0
1236970,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,0.0,0
1236971,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,0.0,0
1236972,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,0.0,0

In [5]:
for i in range(12):
#     print(i)
    save_str = ("ActivityHistory_%2d" % (i+1)).replace(' ', '')
    imp_Cardtypefeatures[save_str] = ""

In [9]:
imp_Cardtypefeatures

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ActivityHistory1_12,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,VISA PLATINUM,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,IIIIIIIIIIII,...,,,,,,,,,,
1,VISA PLATINUM,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,...,,,,,,,,,,
2,VISA PLATINUM,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,IIIIIIIIIIII,...,,,,,,,,,,
3,VISA PLATINUM,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,...,,,,,,,,,,
4,VISA PLATINUM,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,IIIIIIIIIIII,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,,,,,,,,,,
1236969,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,,,,,,,,,,
1236970,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,,,,,,,,,,
1236971,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,,,,,,,,,,
1236972,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,,,,,,,,,,

##### Dictionary to assign values related to the activityhistory1_12 feature

In [6]:
dict = {
     "0"   : "10",
     "1"   : "-150",
     "2"   : "-160",
     "3"   : "-170",
     "4"   : "-180",
     "5"   : "-190",
     "6"   : "200",
     "7"   : "210",
    "A" : "20",
    "B" : "-220",
    "C" : "-230",
    "D" : "-240",
    "E" : "-250",
    "F" : "-260",
    "G" : "-270",
    "H" : "-280",
    "I" : "50",
    "J" : "-10",
    "K" : "-20",
    "L" : "-30",
    "M" : "-40",
    "N" : "-50",
    "O" : "-60",
    "P" :"-70",
    "Q" : "40",
    "R" : "-80",
    "S" : "-90",
    "T" : "-100",
    "U" : "-110",
    "V" : "-120",
    "W" : "-130",
    "X" : "-140",
    "Z" : "0",
    "%" : "10",
    "#" : "20", 
    "+" : "30",
    "-" : "40"    
}

In [33]:
# dict

In [7]:
for index, row in imp_Cardtypefeatures.iterrows():
    item_len = len(row['ActivityHistory1_12'])
    item = row['ActivityHistory1_12']
    for i in range(item_len):
        target_row_name = 'ActivityHistory_' + str(i+1)
        imp_Cardtypefeatures.at[index,target_row_name] = dict[item[i]]
        row[target_row_name] = dict[item[i]]

In [8]:
imp_Cardtypefeatures

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ActivityHistory1_12,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,VISA PLATINUM,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
1,VISA PLATINUM,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
2,VISA PLATINUM,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
3,VISA PLATINUM,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
4,VISA PLATINUM,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0
1236969,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0
1236970,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0
1236971,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0
1236972,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# imp_Cardtypefeatures.to_csv("New_Data.csv")

In [35]:
imp_Cardtypefeatures['ActivityHistory_2'].head(150)

0
1
2
3
4
      ..
145
146
147
148
149
Name: ActivityHistory_2, Length: 150, dtype: object

In [10]:
data = pd.read_csv("New_Data.csv")
data

,Unnamed: 0,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,0,VISA PLATINUM,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,VISA PLATINUM,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,2,VISA PLATINUM,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,3,VISA PLATINUM,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,4,VISA PLATINUM,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,1236968,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,1236969,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,1236970,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,1236971,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,1236972,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
#dropping multiple columns
df1 = data.drop(['Unnamed: 0', 'ActivityHistory1_12'], axis=1)

In [12]:
dict_CardType = {
    "VISA PLATINUM": "1",
     "VISA PREMIER CASH":"2",
     "VISA PREMIER REWARDS":"3",
     "MC PLATINUM": "4",
     "MC REWARDS":"5",
     "MC CASH":"6",
     "VISA PLATINUM CASH":"7",
     "MC CLASSIC":"8",
     "VISA PLATINUM REWARDS":"9",
     "VISA GOLD":"10",
     "VISA BUSINESS":"11"
}

In [13]:
#replacing the categorical variable "CardType"into numerical values using dictionary
df1["CardType"] = df1.CardType.map(dict_CardType)
df1["CardType"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'],
      dtype=object)

In [14]:
df1

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ChargeOffAmount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,1,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,1,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,1,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,1,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,2,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,2,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,2,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,2,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,2,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
dict_CardExternalStatus ={
     "Active":"1",
     "Authorization Prohibited":"2",
     "Closed":"3",
     "Charged-Off":"4",
     "Revoked":"5",
     "Lost":"6",
     "Bankrupt":"7",
     "Interest Prohibited":"8",
     "Stolen":"9",
     "Frozen":"10"    
}

In [16]:
df1["CardExternalStatus"] = df1.CardExternalStatus.map(dict_CardExternalStatus)
df1["CardExternalStatus"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], dtype=object)

In [17]:
df1

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ChargeOffAmount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,1,18000.0,4710.24,0.0,0.0,141.0,1000.0,1,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,18000.0,5672.74,0.0,0.0,0.0,1000.0,1,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,1,18000.0,6628.99,0.0,0.0,199.0,1000.0,1,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,1,18000.0,7577.10,0.0,0.0,0.0,1000.0,1,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,1,18000.0,8518.43,0.0,0.0,256.0,1000.0,1,Active,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
dict_CardInternalStatus ={
     "Active":"1",
     "Credit Balance":"2",
     "Delinquent":"3",
     "Overlimit": "4",
     "Delinquent and Overlimit": "5"   
}

In [19]:
df1["CardInternalStatus"] = df1.CardInternalStatus.map(dict_CardInternalStatus)
df1["CardInternalStatus"].unique()

array(['1', '2', '3', '4', '5'], dtype=object)

In [20]:
# df1.to_csv("Dataset.csv")
df1

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ChargeOffAmount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,1,18000.0,4710.24,0.0,0.0,141.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,18000.0,5672.74,0.0,0.0,0.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,1,18000.0,6628.99,0.0,0.0,199.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,1,18000.0,7577.10,0.0,0.0,0.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,1,18000.0,8518.43,0.0,0.0,256.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
# Finding the index number of any features
# df1.columns.get_loc("ActivityHistory1_12")

In [21]:
#Exporting the dataset with target values = 1
target_value_1 = df1[df1.loc[:, "Target"] == 1]
target_value_1

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ChargeOffAmount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
3022,1,17500.0,2694.12,0.00,0.0,239.0,0.0,5,3,0.0,...,10.0,50.0,40.0,40.0,40.0,40.0,20.0,40.0,40.0,40.0
3458,1,2000.0,2198.77,0.00,0.0,247.0,0.0,5,5,0.0,...,-230.0,-80.0,40.0,50.0,-80.0,-220.0,40.0,50.0,50.0,-160.0
5093,1,2000.0,2071.00,402.64,0.0,135.0,0.0,5,5,0.0,...,50.0,-150.0,40.0,40.0,20.0,40.0,40.0,40.0,40.0,50.0
6642,1,19000.0,0.00,0.00,0.0,1710.0,0.0,3,5,0.0,...,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0
7459,1,8500.0,2940.86,0.00,0.0,262.0,0.0,7,3,0.0,...,50.0,50.0,-80.0,10.0,40.0,40.0,40.0,40.0,40.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234009,2,10000.0,8887.91,0.00,0.0,787.0,0.0,5,3,0.0,...,40.0,20.0,40.0,20.0,40.0,40.0,40.0,20.0,40.0,40.0
1234226,1,2500.0,2631.97,0.00,0.0,225.0,0.0,1,5,0.0,...,40.0,-160.0,-10.0,-80.0,20.0,40.0,40.0,40.0,40.0,40.0
1234229,1,2500.0,2647.03,0.00,0.0,225.0,0.0,1,5,0.0,...,-80.0,20.0,40.0,40.0,40.0,40.0,40.0,NaN,NaN,NaN
1235013,1,1000.0,1089.13,0.00,0.0,90.0,0.0,1,5,0.0,...,-160.0,-150.0,50.0,40.0,-150.0,40.0,-10.0,-160.0,-10.0,-160.0
1236222,1,1000.0,963.89,0.00,0.0,83.0,0.0,5,3,0.0,...,50.0,50.0,50.0,50.0,50.0,40.0,40.0,40.0,40.0,40.0

In [22]:
#Exporting the dataset with target values = 0
target_value_0 = df1[df1.loc[:, "Target"] == 0]
target_value_0

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ChargeOffAmount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,1,18000.0,4710.24,0.0,0.0,141.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,18000.0,5672.74,0.0,0.0,0.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,1,18000.0,6628.99,0.0,0.0,199.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,1,18000.0,7577.10,0.0,0.0,0.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,1,18000.0,8518.43,0.0,0.0,256.0,1000.0,1,1,0.0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:

#Exporting 100 dataset by concatenating "target_value_1" with its fixed 1120 values and random 1120 values from "target_value_0"
result = []
for i in range (100):
    # print(i)
    dataset = target_value_0.sample(1120)

    #merging dataframes
    frames = [dataset, target_value_1]
    merged_dataset = pd.concat(frames)
    merged_dataset.sort_values(by="Target", ignore_index=True)
merged_dataset["Target"]
merged_dataset.to_csv("File.csv")
#     result.append(merged_dataset)
#     save_str = ("dataset_%2d.csv" % (i+1)). replace(' ', '')
#     merged_dataset.to_csv(save_str)
# print(len(result))

# Sample 1 to check if the XGBoost works properly

In [5]:
D = pd.read_csv("dataset_1.csv")
D = D.drop(D.columns[0], axis=1)
D

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ChargeOffAmount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,1,8800.0,13.88,13.88,0.0,13.88,107.34,1,1,0.00,...,0.0,0.0,50.0,50.0,50.0,50.0,40.0,50.0,50.0,40.0
1,1,10000.0,4332.05,0.00,0.0,130.00,30.00,1,1,0.00,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,20.0,NaN,NaN
2,1,3000.0,0.00,0.00,0.0,0.00,0.00,4,1,3055.97,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,2000.0,1850.17,42.32,0.0,56.00,70.00,1,1,0.00,...,40.0,40.0,50.0,40.0,50.0,20.0,40.0,50.0,50.0,50.0
4,1,12500.0,0.00,0.00,0.0,0.00,0.00,2,1,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,2,10000.0,8887.91,0.00,0.0,787.00,0.00,5,3,0.00,...,40.0,20.0,40.0,20.0,40.0,40.0,40.0,20.0,40.0,40.0
2236,1,2500.0,2631.97,0.00,0.0,225.00,0.00,1,5,0.00,...,40.0,-160.0,-10.0,-80.0,20.0,40.0,40.0,40.0,40.0,40.0
2237,1,2500.0,2647.03,0.00,0.0,225.00,0.00,1,5,0.00,...,-80.0,20.0,40.0,40.0,40.0,40.0,40.0,NaN,NaN,NaN
2238,1,1000.0,1089.13,0.00,0.0,90.00,0.00,1,5,0.00,...,-160.0,-150.0,50.0,40.0,-150.0,40.0,-10.0,-160.0,-10.0,-160.0
2239,1,1000.0,963.89,0.00,0.0,83.00,0.00,5,3,0.00,...,50.0,50.0,50.0,50.0,50.0,40.0,40.0,40.0,40.0,40.0

In [6]:
inputs = D.loc[:, ~D.columns.isin(['name', 'Target'])]
inputs = inputs.drop(inputs.columns[0], axis=1)
targets = D.loc[:, "Target"]

In [7]:
inputs

,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ChargeOffAmount,ActivityHistory_1,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,8800.0,13.88,13.88,0.0,13.88,107.34,1,1,0.00,40,...,0.0,0.0,50.0,50.0,50.0,50.0,40.0,50.0,50.0,40.0
1,10000.0,4332.05,0.00,0.0,130.00,30.00,1,1,0.00,50,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,20.0,NaN,NaN
2,3000.0,0.00,0.00,0.0,0.00,0.00,4,1,3055.97,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2000.0,1850.17,42.32,0.0,56.00,70.00,1,1,0.00,40,...,40.0,40.0,50.0,40.0,50.0,20.0,40.0,50.0,50.0,50.0
4,12500.0,0.00,0.00,0.0,0.00,0.00,2,1,0.00,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10000.0,8887.91,0.00,0.0,787.00,0.00,5,3,0.00,-160,...,40.0,20.0,40.0,20.0,40.0,40.0,40.0,20.0,40.0,40.0
2236,2500.0,2631.97,0.00,0.0,225.00,0.00,1,5,0.00,-160,...,40.0,-160.0,-10.0,-80.0,20.0,40.0,40.0,40.0,40.0,40.0
2237,2500.0,2647.03,0.00,0.0,225.00,0.00,1,5,0.00,-160,...,-80.0,20.0,40.0,40.0,40.0,40.0,40.0,NaN,NaN,NaN
2238,1000.0,1089.13,0.00,0.0,90.00,0.00,1,5,0.00,-160,...,-160.0,-150.0,50.0,40.0,-150.0,40.0,-10.0,-160.0,-10.0,-160.0
2239,1000.0,963.89,0.00,0.0,83.00,0.00,5,3,0.00,-160,...,50.0,50.0,50.0,50.0,50.0,40.0,40.0,40.0,40.0,40.0

In [8]:
targets

0       0
1       0
2       0
3       0
4       0
       ..
2235    1
2236    1
2237    1
2238    1
2239    1
Name: Target, Length: 2240, dtype: int64

In [27]:
# Dividing training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(inputs, targets, test_size=0.3, random_state=42)
X_test

,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ChargeOffAmount,ActivityHistory_1,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
324,1000.0,0.00,0.00,0.0,0.00,0.0,4,1,1245.92,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,29000.0,0.00,0.00,0.0,0.00,0.0,1,1,0.00,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2104,1000.0,179.19,0.00,0.0,81.00,0.0,1,3,0.00,-160,...,-10.0,-160.0,-150.0,20.0,0.0,0.0,20.0,10.0,10.0,10.0
1259,2000.0,1940.18,0.00,0.0,225.00,0.0,5,3,0.00,-170,...,-10.0,-160.0,-10.0,-150.0,50.0,50.0,50.0,50.0,50.0,-150.0
1061,3000.0,400.57,0.00,0.0,54.00,0.0,1,1,0.00,-150,...,50.0,50.0,50.0,50.0,50.0,50.0,40.0,40.0,40.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2064,1000.0,1311.07,0.00,0.0,90.00,0.0,5,5,0.00,-160,...,50.0,-160.0,-10.0,-160.0,-10.0,-160.0,-10.0,-160.0,-10.0,-150.0
1735,3000.0,2914.60,0.00,0.0,255.00,0.0,5,3,0.00,-160,...,50.0,-150.0,50.0,10.0,50.0,40.0,40.0,50.0,40.0,40.0
1057,2500.0,2627.71,64.24,0.0,150.00,0.0,1,5,0.00,-220,...,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0
1461,18000.0,32.24,0.00,0.0,32.24,0.0,8,3,0.00,-160,...,40.0,50.0,50.0,50.0,10.0,50.0,50.0,50.0,50.0,50.0
1175,1000.0,172.74,0.00,0.0,60.00,0.0,5,3,0.00,-160,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0

In [28]:
# #train the model
clf = RandomForestClassifier(max_depth=2,random_state= 0)
clf

RandomForestClassifier(max_depth=2, random_state=0)

In [29]:
clf.fit(X_train, y_train)
# clf.fit(train_input, train_target)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [10]:
train = xgb.DMatrix(X_train, label=y_train)
test = xgb.DMatrix(X_test, label=y_test)

In [18]:
params = {
    "colsample_bytree": uniform(0.7, 0.3),
    "gamma": uniform(0, 0.5),
    "learning_rate": uniform(0.03, 0.3), # default 0.1 
    "max_depth": randint(2, 6), # default 3
    "n_estimators": randint(100, 150), # default 100
    "subsample": uniform(0.6, 0.4)
}