# Finding the important dataset

In [213]:
import pandas as pd
import numpy as np
import xgboost as xgb
#importing sklearn library and its methods
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from scipy.stats import uniform, randint

In [214]:
df = pd.read_csv("dataset.csv")
# df.columns

In [215]:
# df.head()

# Separating the important features from the original dataset

In [216]:
imp_Cardtypefeatures = df.loc[:, [
                             'CardType',
                             'CreditLine',
                             'LastStatementBalanceAmount',
                             'LastStatementPurchaseAmount', 
                             'LastStatementPurchaseReturnAmount',
                             'LastStatementMinimumPaymentDueAmount',
                             'LastStatementPaymentTotalAmount',
                             'CardExternalStatus',
                             'CardInternalStatus',
                             'ActivityHistory1_12',
                             'DelinquentDaysCount',
                             'DelinquentTotalAmount',
                             'LifetimeDelinquent1CycleCount',
                             'LifetimeDelinquent2CycleCount',
                             'LifetimeDelinquent3CycleCount',
                             'LifetimeDelinquent4CycleCount',
                             'LifetimeDelinquent5CycleCount',
                             'LifetimeDelinquent6CycleCount',
                             'LifetimeDelinquent7CycleCount',
                             'ChargeOffAmount',
                              'Target'
]
                            ]

In [217]:
imp_Cardtypefeatures

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ActivityHistory1_12,...,DelinquentTotalAmount,LifetimeDelinquent1CycleCount,LifetimeDelinquent2CycleCount,LifetimeDelinquent3CycleCount,LifetimeDelinquent4CycleCount,LifetimeDelinquent5CycleCount,LifetimeDelinquent6CycleCount,LifetimeDelinquent7CycleCount,ChargeOffAmount,Target
0,VISA PLATINUM,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,IIIIIIIIIIII,...,0.0,0,0,0,0,0,0,0,0.0,0
1,VISA PLATINUM,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,...,0.0,0,0,0,0,0,0,0,0.0,0
2,VISA PLATINUM,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,IIIIIIIIIIII,...,0.0,0,0,0,0,0,0,0,0.0,0
3,VISA PLATINUM,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,...,0.0,0,0,0,0,0,0,0,0.0,0
4,VISA PLATINUM,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,IIIIIIIIIIII,...,0.0,0,0,0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0.0,0,0,0,0,0,0,0,0.0,0
1236969,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0.0,0,0,0,0,0,0,0,0.0,0
1236970,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0.0,0,0,0,0,0,0,0,0.0,0
1236971,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0.0,0,0,0,0,0,0,0,0.0,0
1236972,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0.0,0,0,0,0,0,0,0,0.0,0

In [218]:
for i in range(12):
#     print(i)
    save_str = ("ActivityHistory_%2d" % (i+1)).replace(' ', '')
    imp_Cardtypefeatures[save_str] = ""
# imp_Cardtypefeatures

##### Dictionary to assign values related to the activityhistory1_12 feature

In [219]:
dict = {
     "0"   : "10",
     "1"   : "-150",
     "2"   : "-160",
     "3"   : "-170",
     "4"   : "-180",
     "5"   : "-190",
     "6"   : "200",
     "7"   : "210",
    "A" : "20",
    "B" : "-220",
    "C" : "-230",
    "D" : "-240",
    "E" : "-250",
    "F" : "-260",
    "G" : "-270",
    "H" : "-280",
    "I" : "50",
    "J" : "-10",
    "K" : "-20",
    "L" : "-30",
    "M" : "-40",
    "N" : "-50",
    "O" : "-60",
    "P" :"-70",
    "Q" : "40",
    "R" : "-80",
    "S" : "-90",
    "T" : "-100",
    "U" : "-110",
    "V" : "-120",
    "W" : "-130",
    "X" : "-140",
    "Z" : "0",
    "%" : "10",
    "#" : "20", 
    "+" : "30",
    "-" : "40"    
}

In [33]:
# dict

In [220]:
for index, row in imp_Cardtypefeatures.iterrows():
    item_len = len(row['ActivityHistory1_12'])
    item = row['ActivityHistory1_12']
    for i in range(item_len):
        target_row_name = 'ActivityHistory_' + str(i+1)
        imp_Cardtypefeatures.at[index,target_row_name] = dict[item[i]]
        row[target_row_name] = dict[item[i]]

In [221]:
imp_Cardtypefeatures

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,ActivityHistory1_12,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,VISA PLATINUM,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
1,VISA PLATINUM,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
2,VISA PLATINUM,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
3,VISA PLATINUM,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
4,VISA PLATINUM,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,IIIIIIIIIIII,...,50,50,50,50,50,50,50,50,50,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0
1236969,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0
1236970,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0
1236971,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0
1236972,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,ZZZZZZZZZZZZ,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# imp_Cardtypefeatures.to_csv("New_Dataset.csv")

In [35]:
imp_Cardtypefeatures['ActivityHistory_2'].head(150)

0
1
2
3
4
      ..
145
146
147
148
149
Name: ActivityHistory_2, Length: 150, dtype: object

In [222]:
data = pd.read_csv("New_Dataset.csv")
data

,Unnamed: 0,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,0,VISA PLATINUM,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,VISA PLATINUM,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,2,VISA PLATINUM,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,3,VISA PLATINUM,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,4,VISA PLATINUM,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,1236968,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,1236969,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,1236970,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,1236971,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,1236972,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [239]:
#dropping multiple columns
df1 = data.drop(['Unnamed: 0', 'ActivityHistory1_12'], axis=1)
df1

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,DelinquentDaysCount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,VISA PLATINUM,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,VISA PLATINUM,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,VISA PLATINUM,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,VISA PLATINUM,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,VISA PLATINUM,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,VISA PREMIER CASH,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,VISA PREMIER CASH,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [240]:
dict_CardType = {
    "VISA PLATINUM": "1",
     "VISA PREMIER CASH":"2",
     "VISA PREMIER REWARDS":"3",
     "MC PLATINUM": "4",
     "MC REWARDS":"5",
     "MC CASH":"6",
     "VISA PLATINUM CASH":"7",
     "MC CLASSIC":"8",
     "VISA PLATINUM REWARDS":"9",
     "VISA GOLD":"10",
     "VISA BUSINESS":"11"
}

In [241]:
#replacing the categorical variable "CardType"into numerical values using dictionary
df1["CardType"] = df1.CardType.map(dict_CardType)
df1["CardType"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11'],
      dtype=object)

In [242]:
df1

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,DelinquentDaysCount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,1,18000.0,4710.24,0.0,0.0,141.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,18000.0,5672.74,0.0,0.0,0.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,1,18000.0,6628.99,0.0,0.0,199.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,1,18000.0,7577.10,0.0,0.0,0.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,1,18000.0,8518.43,0.0,0.0,256.0,1000.0,Active,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,2,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,2,14000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,2,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,2,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,2,10000.0,0.00,0.0,0.0,0.0,0.0,Active,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [243]:
dict_CardExternalStatus ={
     "Active":"1",
     "Authorization Prohibited":"2",
     "Closed":"3",
     "Charged-Off":"4",
     "Revoked":"5",
     "Lost":"6",
     "Bankrupt":"7",
     "Interest Prohibited":"8",
     "Stolen":"9",
     "Frozen":"10"    
}

In [244]:
df1["CardExternalStatus"] = df1.CardExternalStatus.map(dict_CardExternalStatus)
df1["CardExternalStatus"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], dtype=object)

In [245]:
df1

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,DelinquentDaysCount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,1,18000.0,4710.24,0.0,0.0,141.0,1000.0,1,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,18000.0,5672.74,0.0,0.0,0.0,1000.0,1,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,1,18000.0,6628.99,0.0,0.0,199.0,1000.0,1,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,1,18000.0,7577.10,0.0,0.0,0.0,1000.0,1,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,1,18000.0,8518.43,0.0,0.0,256.0,1000.0,1,Active,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,Active,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [246]:
dict_CardInternalStatus ={
     "Active":"1",
     "Credit Balance":"2",
     "Delinquent":"3",
     "Overlimit": "4",
     "Delinquent and Overlimit": "5"   
}

In [247]:
df1["CardInternalStatus"] = df1.CardInternalStatus.map(dict_CardInternalStatus)
df1["CardInternalStatus"].unique()

array(['1', '2', '3', '4', '5'], dtype=object)

In [248]:
df1

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,DelinquentDaysCount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,1,18000.0,4710.24,0.0,0.0,141.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,18000.0,5672.74,0.0,0.0,0.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,1,18000.0,6628.99,0.0,0.0,199.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,1,18000.0,7577.10,0.0,0.0,0.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,1,18000.0,8518.43,0.0,0.0,256.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [194]:
# Finding the index number of any features
# df1.columns.get_loc("ActivityHistory1_12")

In [251]:
#Exporting the dataset with target values = 1
target_value_1 = df1[df1.loc[:, "Target"] == 1]
target_value_1

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,DelinquentDaysCount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
3022,1,17500.0,2694.12,0.00,0.0,239.0,0.0,5,3,83,...,10.0,50.0,40.0,40.0,40.0,40.0,20.0,40.0,40.0,40.0
3458,1,2000.0,2198.77,0.00,0.0,247.0,0.0,5,5,83,...,-230.0,-80.0,40.0,50.0,-80.0,-220.0,40.0,50.0,50.0,-160.0
5093,1,2000.0,2071.00,402.64,0.0,135.0,0.0,5,5,83,...,50.0,-150.0,40.0,40.0,20.0,40.0,40.0,40.0,40.0,50.0
6642,1,19000.0,0.00,0.00,0.0,1710.0,0.0,3,5,83,...,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0,40.0
7459,1,8500.0,2940.86,0.00,0.0,262.0,0.0,7,3,76,...,50.0,50.0,-80.0,10.0,40.0,40.0,40.0,40.0,40.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234009,2,10000.0,8887.91,0.00,0.0,787.0,0.0,5,3,83,...,40.0,20.0,40.0,20.0,40.0,40.0,40.0,20.0,40.0,40.0
1234226,1,2500.0,2631.97,0.00,0.0,225.0,0.0,1,5,70,...,40.0,-160.0,-10.0,-80.0,20.0,40.0,40.0,40.0,40.0,40.0
1234229,1,2500.0,2647.03,0.00,0.0,225.0,0.0,1,5,70,...,-80.0,20.0,40.0,40.0,40.0,40.0,40.0,NaN,NaN,NaN
1235013,1,1000.0,1089.13,0.00,0.0,90.0,0.0,1,5,83,...,-160.0,-150.0,50.0,40.0,-150.0,40.0,-10.0,-160.0,-10.0,-160.0
1236222,1,1000.0,963.89,0.00,0.0,83.0,0.0,5,3,76,...,50.0,50.0,50.0,50.0,50.0,40.0,40.0,40.0,40.0,40.0

In [250]:
#Exporting the dataset with target values = 0
target_value_0 = df1[df1.loc[:, "Target"] == 0]
target_value_0

,CardType,CreditLine,LastStatementBalanceAmount,LastStatementPurchaseAmount,LastStatementPurchaseReturnAmount,LastStatementMinimumPaymentDueAmount,LastStatementPaymentTotalAmount,CardExternalStatus,CardInternalStatus,DelinquentDaysCount,...,ActivityHistory_3,ActivityHistory_4,ActivityHistory_5,ActivityHistory_6,ActivityHistory_7,ActivityHistory_8,ActivityHistory_9,ActivityHistory_10,ActivityHistory_11,ActivityHistory_12
0,1,18000.0,4710.24,0.0,0.0,141.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
1,1,18000.0,5672.74,0.0,0.0,0.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
2,1,18000.0,6628.99,0.0,0.0,199.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
3,1,18000.0,7577.10,0.0,0.0,0.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
4,1,18000.0,8518.43,0.0,0.0,256.0,1000.0,1,1,0,...,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236968,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236969,2,14000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236970,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236971,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1236972,2,10000.0,0.00,0.0,0.0,0.0,0.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:

#Exporting 100 dataset by concatenating "target_value_1" with its fixed 1120 values and random 1120 values from "target_value_0"
result = []
for i in range (100):
    # print(i)
    dataset = target_value_0.sample(1120)

    #merging dataframes
    frames = [dataset, target_value_1]
    merged_dataset = pd.concat(frames)
    result.append(merged_dataset)
    save_str = ("dataset_%2d.csv" % (i+1)). replace(' ', '')
    merged_dataset.to_csv(save_str)
print(len(result))

In [110]:
#importing sklearn library and its methods
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [157]:
# D = pd.read_csv("dataset_1.csv")
# D.drop(D.columns[0], axis=1)

In [123]:
# inputs = train_dummies.iloc[:,:]
# inputs = D.loc[:, ~D.columns.isin(['name', 'Target'])]
# inputs = inputs.drop(inputs.columns[0], axis=1)
# targets = D.loc[:, "Target"]

In [144]:
# inputs

In [158]:
# targets

In [134]:
# Dividing training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(inputs, targets, test_size=0.3, random_state=42)
# test_input

In [132]:
# #train the model
# clf = RandomForestClassifier(max_depth=2,random_state= 0)
# clf

In [131]:

# clf.fit(train_input, train_target)

In [135]:
#importing XGBOOST
import xgboost as xgb

In [136]:
# train = xgb.DMatrix(X_train, label=y_train)
# test = xgb.DMatrix(X_test, label=y_test)

In [153]:
params = {
    "colsample_bytree": uniform(0.7, 0.3),
    "gamma": uniform(0, 0.5),
    "learning_rate": uniform(0.03, 0.3), # default 0.1 
    "max_depth": randint(2, 6), # default 3
    "n_estimators": randint(100, 150), # default 100
    "subsample": uniform(0.6, 0.4)
}
epochs = 10

In [154]:
# model = xgb.train(param, train, epochs)

In [155]:
# predictions = model.predict(test)
# predictions

In [159]:
# accuracy_score(y_test, predictions)